*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
body{
    background-color: black;
}

:root {
    --primaryColor: #ccff90;
    --primaryColorDark: #64ffda;
    --primaryColorLight:#ffffc2;
    --secondaryColor: #ff80ab;
    --secondaryColorDark: #c94f7c;
    --secondaryColorLight: #ffb2dd;
  }
   
.sub {
    color: var(--primaryColorDark);
  }

 .topnav {
    background-color: #333;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .topnav a {
    text-align: center;
    display: block;
    color: aquamarine;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }
  
  .topnav a:hover {
    background-color: rgb(236, 236, 160);
    color: palevioletred;
  }
  
.add{
    border: solid white;
    border-radius: 10%;
}
.slide3 img{
    filter: hue-rotate(180deg) saturate(2);
 
}
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
.slide3 p{
    animation-name: blinkingText, zoom-in-zoom-out;
    animation-duration:  12s, 5s;
    animation-iteration-count: infinite;
    font-weight: bold;
    box-shadow: 0px 0px 40px rgb(102, 177, 102);
    text-shadow: 0px 0px 5px palevioletred;
}
.topPic img{
    filter: blur(2px);
}

@keyframes blinkingText{
    0%		{ color:   rgb(236, 236, 160);}
    10% { color:   rgb(236, 236, 160);}
    20%		{ color: black;}
    30%{ color: black;}
    40%		{ color:   rgb(236, 236, 160);}
    50%{ color:  rgb(236, 236, 160);}
    60%{ color:   rgb(236, 236, 160);}
    70%		{ color: black;}
    80%{ color: black;}
    90% { color:   rgb(236, 236, 160);}
    100%	{ color: rgb(236, 236, 160);}
}

.topPic p{
    letter-spacing: .5px;
    animation: glitch 1s linear infinite;
    box-shadow: 0px 0px 20px cornflowerblue;
}
@keyframes glitch{
2%,64%{
  transform: translate(2.5px,0) skew(0deg);
}
4%,60%{
  transform: translate(-2.5px,0) skew(0deg);
}
62%{
  transform: translate(0,0) skew(6deg); 
}
}

.topPic p::before,
.topPic p::after{
    content: attr(title);
    position: absolute;
    left: 0;
}
.topPic p::before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
@keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  .topPic p::after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }  


.footTitle{
    color: white;
    text-align: center;
}
.slide2:nth-child(1){

    background-color: rgba(168, 163, 163, 0.37);
}
.slide2:nth-child(2){

    background-color: rgba(133, 124, 124, 0.247);
}
.slide2:nth-child(3){
    
    background-color:rgba(199, 81, 81, 0.137);
}
.info{
    
    font-family: "Montserrat";
}
.info p:nth-child(1){

    color: lightgreen;
    }
    .info p:nth-child(2){
       
    color: rgb(236, 236, 160);
        }
        .info p:nth-child(3){
          
            color: rgb(236, 236, 160);
            }

.wasPrice{
    
    font-family: "Montserrat";
    color: rgb(236, 236, 160);
}
.nowPrice{
    
    font-family: "Montserrat";
}
.add{
    
    font-family: "Montserrat";
}
.topPic{
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
.topPic img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5%;
}

.topPic{
    height: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.im1 img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20%;
}
.im2 img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20%;
}
.im3 img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20%;
}
.im4 img{
    width: 100%;
    height: 100%; 
    position: relative;
    border-radius: 20%;
}
.im5 img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20%;
}
.im6 img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20%;
}
.foot1{
    height: 100px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.foot2{
color: aquamarine;
text-align: center;
font-family: "Montserrat";
}

.open:hover{
    background-color: rgb(236, 236, 160);
    color: palevioletred;
    box-shadow: 0px 0px 5px 3px white;
    border: solid #FFF;

}
.modalBack{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(50, 50, 50, .5);
    opacity: 0;
    pointer-events: none;
    height: 1500px;
}
.modalBack:target{
    opacity: 1;
    pointer-events: auto;
    transition: ease-in .5s;
}

.close{
    background-color: black;
    color: lightgoldenrodyellow;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
}
.close:hover{
    background-color: rgb(236, 236, 160);
    color: palevioletred;
}

        .add:hover{
            background-color: rgb(236, 236, 160);
            color: palevioletred;
        }
.open{
    border: solid white;
    border-radius: 10%;
}
/* --- desktop/laptop or large size view  min-width 900px --- */
@media only screen and (min-width:900px){
.sub{
    text-align: center;
    display: block;
    color: aquamarine;
    padding: 1px 10px;
    text-decoration: none;
    float: left;
    font-size: 20px;
    margin-top: 13px;
}
  .content {
    width: 360px;
    height: 40px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
    border-radius: 60px;
    overflow: hidden;
    margin-top: .4%;
  }
  
  .subscription {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .subscription .add-email{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
    color: white;
    background-color: black;
  }
  
  .subscription .submit-email {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2px);
    width: 100px;
    border: none;
    border-radius: 60px;
    outline: none;
    margin: 1px;
    padding: 0 20px;
    cursor: pointer;
    background: aquamarine;
    color: palevioletred;
    transition: width .35s ease-in-out,
      background .35s ease-in-out;
  }
  
  .subscription.done .submit-email {
    width: calc(100% - 2px);
    background: lightgoldenrodyellow;
  }
  
  .subscription .submit-email .before-submit,
  .subscription .submit-email .after-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
    transition: visibility .35s ease-in-out,
      opacity .35s ease-in-out;
  }
  
  .subscription.done .submit-email .before-submit,
  .subscription:not(.done) .submit-email .after-submit {
    visibility: hidden;
    opacity: 0;
  }
  
  .subscription .submit-email .after-submit {
    transition-delay: .35s;
  }
  
  .subscription:not(.done) .submit-email .before-submit,
  .subscription.done .submit-email .after-submit {
    visibility: visible;
    opacity: 1;
  }

    .topnav{
        height: 50px;
         margin-left: auto;
        margin-right: auto;
    }
    .topnav a{
        font-size: 20px;
    }
    .title{
        font-family: "Montserrat";
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 250px;
        letter-spacing: 1px;
        width: auto;
    }
    .h1{
        background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 100px;
        line-height: .75;
        margin: 10px 0;
        width: auto;
    }
    .word1{
        color: aquamarine;
        font-size: 30px;
        font-family: "Montserrat";
        }
        .word2{
            color: aquamarine;
            font-size: 30px;
            font-family: "Montserrat";
        }
        .word3{
         color: aquamarine; 
         font-size: 30px;
         font-family: "Montserrat";
        }
        .word{
            color: rgb(214, 214, 152);
            font-size: 30px;
            font-weight: bold;
            font-family: "Montserrat";
        }
        .collection{
            font-family: "Montserrat";
            text-align: center;
            color: #FFF;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80px;
            letter-spacing: 1px;
            width: auto;
            background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
            background-size: cover;
            color: transparent;
            -moz-background-clip: text;
            -webkit-background-clip: text;
            text-transform: uppercase;
            font-size: 60px;
            line-height: .75;
            margin: 10px 0;
        }
        .open{
            background-color: black;
            padding: 10px 20px;
            color: aquamarine;
            text-decoration: none;
            margin-left: 28%;
        }
    .slideshow3{
        width: 95%;
        height: 85px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    .slideshow4{
        height: 600px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
      position: relative;
    }
    .slide-wrapper3{
        width: 300%;
        height: 100%;
        animation: slideshow3 15s infinite alternate;
    }
    @keyframes slideshow3 {
        0% {margin-left: 0px;}
        10% {margin-left: 0px;}
        20% {margin-left: 0px;}
        30% {margin-left: 0px;}
        40% {margin-left: -100%;}
        50% {margin-left: -100%;}
        60% {margin-left: -100%;}
        70% {margin-left: -100%;}
        80% {margin-left: -200%;}
        90% {margin-left: -200%;}
        100% {margin-left: -200%;}
      }
      .slide2{
        height: 100%;
        width: 33.33%;
        float: left;
        text-align: center;
        font-size: 1em;
    }
    .slide-wrapper4{
        width: 300%;
        height: 100%;
        animation: slideshow4 1s infinite alternate;
        
    }
    .slide3{
        height: 600px;
        width: 100%;
        position: relative;
    }
    .slide3 img{
        width: 50%;
        height: 100%;
        position: relative;
    }
    .im1{
        width: auto;
        height: 400px;
        margin-top: 1%;
    }
    
    .im2{
        width: auto;
        height: 400px;
        margin-top: 1%;
    }
    .im3{
        width: auto;
        height: 400px;
        margin-top: 1%;
    }
    .im4{
        width: auto;
        height: 400px;
        margin-top: 1%;
    }
    
    .im5{
        width: auto;
        height: 400px;
        margin-top: 1%;
    }
    .im6{
        width: auto;
        height: 400px;
        margin-top: 1%;
    }
    
    .im1 img{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .im2 img{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .im3 img{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .im4 img{
        width: 100%;
        height: 100%; 
        position: relative;
    }
    .im5 img{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .im6 img{
        width: 100%;
        height: 100%;
        position: relative;
    }
.container1{
    height: 585px;
    width: 33.33%;
    float: left;
    position: relative;
    padding: .5%;
}
.container2{
    height: 585px;
    width: 33.33%;
    float: left;
    position: relative;
    padding: .5%;
}
.container3{
    height: 585px;
    width: 33.33%;
    float: left;
    position: relative;
    padding: .5%;
}
.container4{
    height: 585px;
    width: 33.33%;
    float: left;
    position: relative;
    padding: .5%;
}
.container5{
    height: 585px;
    width: 33.33%;
    float: left;
    position: relative;
    padding: .5%;
}
.container6{
    height: 585px;
    width: 33.33%;
    float: left;
    position: relative;
    padding: .5%;
}
.bigCont1{
    height: 780px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    }
    .bigCont2{
        height: 780px;
        width: 100%;
        margin-left: auto;
    margin-right: auto;
    position: relative;
    }
.footTitle{
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    letter-spacing: 1px;
    width: auto;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 35px;
    line-height: .75;
    margin: 10px 0;
}
.foot1 a{
    padding: 10px;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
.icon{
    margin-left: auto;
    margin-right: auto;
   height: 45px;
   width: 45px;
}

.imgCont{
    width: 40%;
    height: 65%;
    float: left;
    margin-top: 5%;
}
.imgCont img{
    width: 100%;
    height: 100%;
    padding: 5%;
}
.imgCont2{
    width: 40%;
    height: 65%;
    float: left;
    margin-top: 5%;
}
.imgCont2 img{
    width: 100%;
    height: 100%;
    padding: 5%;
  
}
.imgCont3{
    width: 40%;
    height: 65%;
    float: left;
    margin-top: 5%;
}
.imgCont3 img{
    width: 100%;
    height: 100%;
    padding: 5%;
  
}
.imgCont4{
    width: 40%;
    height: 65%;
    float: left;
    margin-top: 5%;
}
.imgCont4 img{
    width: 100%;
    height: 100%;
    padding: 5%;
  
}
.imgCont5{
    width: 40%;
    height: 65%;
    float: left;
    margin-top: 5%;
}
.imgCont5 img{
    width: 100%;
    height: 100%;
    padding: 5%;
  
}
.imgCont6{
    width: 40%;
    height: 65%;
    float: left;
    margin-top: 5%;
}
.imgCont6 img{
    width: 100%;
    height: 100%;
    padding: 5%;
  
}
.info{
    width: 55%;
    height: 90%;
    float: left;
    margin-top: 7%;
    font-family: "Montserrat";
}
.info p:nth-child(1){
    font-size: 2.5em;
    color: lightgreen;
    }
    .info p:nth-child(2){
        font-size: 1.2em;
    margin-top: -2em;
    color: rgb(236, 236, 160);
        }
        .info p:nth-child(3){
            margin-top: 4em;
            margin-bottom: 2em;
            color: rgb(236, 236, 160);
            }

.wasPrice{
    font-weight: bolder;
    text-decoration: line-through;
    font-family: "Montserrat";
    color: rgb(236, 236, 160);
}
.nowPrice{
    font-weight: bolder;
    font-size: 1.2em;
    padding-left: .5em;
    color: palevioletred;
    font-family: "Montserrat";
}
.add{
    background-color: black;
    color: lightgreen;
    text-decoration: none;
    padding:10px 20px;
    margin: auto;
    display: inline-block;
    margin-left: 30%;
    margin-top: 2em;
    font-family: "Montserrat";
}
.modalFront1{
    height: 460px;
    width: 900px;
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
  top: 34%;
  transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront2{
    width: 900px;
    height: 460px;
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
    top: 34%;
  transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront3{
    width: 900px;
    height: 460px;
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
    top: 34%;
  transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront4{
    width: 900px;
    height: 460px;
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
    top: 34%;
  transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront5{
    width: 900px;
    height: 460px;
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
    top: 34%;
  transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront6{
    width: 900px;
    height: 460px;
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
    top: 34%;
  transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.open{
    background-color: black;
    padding: 10px 20px;
    color: aquamarine;
    text-decoration: none;
    margin-left: 40%;
    
}

.container1 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 37px;
    text-align: center;
    margin-bottom: 8%;
}
.container1 p:nth-child(3){
    color: aquamarine;
    font-size: 25px;
    text-align: center;
    margin-bottom: 7%;
}
.container1 p:nth-child(4){
    color: palevioletred;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10%;
}
.container2 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 37px;
    text-align: center;
    margin-bottom: 8%;
}
.container2 p:nth-child(3){
    color: aquamarine;
    font-size: 25px;
    text-align: center;
    margin-bottom: 7%;
}
.container2 p:nth-child(4){
    color: palevioletred;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10%;
}
.container3 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 37px;
    text-align: center;
    margin-bottom: 8%;
}
.container3 p:nth-child(3){
    color: aquamarine;
    font-size: 25px;
    text-align: center;
    margin-bottom: 7%;
}
.container3 p:nth-child(4){
    color: palevioletred;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10%;
}
.container4 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 37px;
    text-align: center;
    margin-bottom: 8%;
}
.container4 p:nth-child(3){
    color: aquamarine;
    font-size: 25px;
    text-align: center;
    margin-bottom: 7%;
}
.container4 p:nth-child(4){
    color: palevioletred;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10%;
}
.container5 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 37px;
    text-align: center;
    margin-bottom: 8%;
}
.container5 p:nth-child(3){
    color: aquamarine;
    font-size: 25px;
    text-align: center;
    margin-bottom: 7%;
}
.container5 p:nth-child(4){
    color: palevioletred;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10%;
}
.container6 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 37px;
    text-align: center;
    margin-bottom: 8%;
}
.container6 p:nth-child(3){
    color: aquamarine;
    font-size: 25px;
    text-align: center;
    margin-bottom: 7%;
}
.container6 p:nth-child(4){
    color: palevioletred;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10%;
}

.topPic img{
    width: 100%;
    height: 100%;
    position: relative;
}
.topPic p{
    position: absolute;
    top: 160px;
    background-color: rgba(20, 20, 20, 0.3);
    color: aquamarine;
    width: 80%;
    left: 10%;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    border-radius: 20px;
}
.topPic{
    width: 95%;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.slide3 img{
    position: relative;
}
.slide3 p{
    position: absolute;
    top: 100px;
    background-color: rgba(20, 20, 20, 0.3);
    border: solid forestgreen;
    color: palevioletred;
    width: 25%;
    left: 4%;
    padding: 2px;
    text-align: center;
    font-size: 55px;
    border-radius: 5px;
}
.slide3{
    position: relative;
}
.toTop{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgb(19, 18, 18);
    position: fixed;
    bottom: 25px;
    right: 30px;
    opacity: .6;
   display: none;
   box-shadow: 0 9px lightgoldenrodyellow;
}
.linkTop{
    text-decoration: none;
    color: palevioletred;
    text-align: center;
    padding: 10px;
    display: block;
}
.toTop:hover{
    box-shadow: 0px 0px 10px 3px palevioletred;
    background-color: rgb(79, 201, 126);
    opacity: .6;
    box-shadow: 0 9px lightgoldenrodyellow;
}
.toTop:active {
    background-color: aquamarine;
    box-shadow: 0 5px rgb(116, 108, 108);
    transform: translateY(4px);
  }

  /* The Modal (background) */
  .modal0 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  
}
/* --- tablet or medium size view  450px-900px --- */
@media only screen and (max-width: 900px) and (min-width:450px){
    .topnav{
        height: 52px;
        padding-left: 5%;
        margin-left: auto;
        margin-right: auto;
    }
   
    .topnav a{
        font-size: 16px;
    }
    .title{
        font-family: "Montserrat";
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 250px;
        letter-spacing: 1px;
        width: auto;
    }
    .h1{
        background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 100px;
        line-height: .75;
        margin: 10px 0;
        width: auto;
    }
    .collection{
        font-family: "Montserrat";
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 55px;
        letter-spacing: 1px;
        width: auto;
        background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 45px;
        line-height: .75;
        margin: 10px 0;
    }
    .word1{
        color: aquamarine;
        font-size: 25px;
        margin-top: 2%;
        font-family: "Montserrat";
        }
        .word2{
            color: aquamarine;
            font-size: 25px;
            margin-top: 2%;
            font-family: "Montserrat";
        }
        .word3{
         color: aquamarine; 
         font-size: 25px;
         margin-top: 2%;
         font-family: "Montserrat";
        }
        .word{
            color:  rgb(214, 214, 152);
            font-size: 25px;
            font-weight: bold;
            margin-top: 2%;
            font-family: "Montserrat";
        }
    .slideshow3{
        width: 95%;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    .slideshow4{
        height: 400px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        position: relative;
    }
    .slide-wrapper3{
        width: 300%;
        height: 100%;
        animation: slideshow3 15s infinite alternate;
        
        
    }
    @keyframes slideshow3 {
        0% {margin-left: 0px;}
        10% {margin-left: 0px;}
        20% {margin-left: 0px;}
        30% {margin-left: 0px;}
        40% {margin-left: -100%;}
        50% {margin-left: -100%;}
        60% {margin-left: -100%;}
        70% {margin-left: -100%;}
        80% {margin-left: -200%;}
        90% {margin-left: -200%;}
        100% {margin-left: -200%;}
      }
      .slide2{
        height: 200px;
        width: 33.33%;
        float: left;
        text-align: center;
        font-size: 1em;
    }
    .slide-wrapper4{
        width: 300%;
        height: 100%;
        animation: slideshow4 1s infinite alternate;
      
    }
    .slide3{
        height: 400px;
        width: 100%;
        position: relative;
    }
    .slide3 img{
        width: 50%;
        height: 100%;
        position: relative;
    }
    .im1{
      width: auto;
      height: 250px;
      margin-top: 1%;
      position: relative;
    }
    .im2{
        width: auto;
        height: 250px;
        margin-top: 1%;
        position: relative;
    }
    .im3{
        width: auto;
        height: 250px;
        margin-top: 1%;
        position: relative;
    }
    .im4{
        width: auto;
        height: 250px;
        margin-top: 1%;
        position: relative;
    }
    .im5{
        width: auto;
        height: 250px;
        margin-top: 1%;
        position: relative;
    }
    .im6{
        width: auto;
        height: 250px;
        margin-top: 1%;
        position: relative;
    }
    .im1 img{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .im2 img{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .im3 img{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .im4 img{
        width: 100%;
        height: 100%; 
        position: relative;
    }
    .im5 img{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .im6 img{
        width: 100%;
        height: 100%;
        position: relative;
    }
.container1{
    height: 585px;
    width: 33.33%;
    float: left;
    position: relative;
    padding: .5%;
}
.container2{
    height: 585px;
    width: 33.33%;
    float: left;
    position: relative;
    padding: .5%;
}
.container3{
    height: 585px;
    width: 33.33%;
    float: left;
    position: relative;
    padding: .5%;
}
.container4{
    height: 585px;
    width: 33.33%;
    float: left;
    position: relative;
    padding: .5%;
}
.container5{
    height: 585px;
    width: 33.33%;
    float: left;
    position: relative;
    padding: .5%;
}
.container6{
    height: 585px;
    width: 33.33%;
    float: left;
    position: relative;
    padding: .5%;
}
.bigCont1{
height: 600px;
width: 100%;
margin-left: auto;
margin-right: auto;
position: relative;
}
.bigCont2{
    height: 600px;
    width: 100%;
    margin-left: auto;
margin-right: auto;
position: relative;
margin-top: -20px;
}
.foot1{
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    height: 100px;
    width: 100%;
}

.foot2{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.imgCont{
    width: auto;
    height: auto;
    float: left;
    margin-top: 4%;
}
.imgCont img{
    width: 55%;
    height: 55%;
    padding: 1%;
    margin-left: 25%;
  
}
.imgCont2{
    width: auto;
    height: auto;
    float: left;
    margin-top: 4%;
}
.imgCont2 img{
    width: 45%;
    height: 42%;
    padding: 1%;
    margin-left: 31%;
  
}
.imgCont3{
    width: auto;
    height: auto;
    float: left;
    margin-top: 4%;
}
.imgCont3 img{
    width: 40%;
    height: 40%;
    padding: 1%;
    margin-left: 30%;
  
}
.imgCont4{
    width: auto;
    height: auto;
    float: left;
    margin-top: 4%;
}
.imgCont4 img{
    width: 42%;
    height: 28%;
    padding: 1%;
    margin-left: 32%;
  
}
.imgCont5{
    width: auto;
    height: auto;
    float: left;
    margin-top: 4%;
}
.imgCont5 img{
    width: 45%;
    height: 30%;
    padding: 1%;
    margin-left: 31%;
  
}
.imgCont6{
    width: auto;
    height: auto;
    float: left;
    margin-top: 4%;
}
.imgCont6 img{
    width: 45%;
    height: 30%;
    padding: 1%;
    margin-left: 31.5%;
  
}
.info{
    width: 75%;
    height: 65%;
    margin-left: 15%;

}
.info p:nth-child(1){
    font-size: 35px;
  text-align: center;
    }
    .info p:nth-child(2){
        font-size: 25px;
       text-align: center;
       margin-top: -6%;
       color: rgb(236, 236, 160);
        }
        .info p:nth-child(3){
            font-size: 18px;
           text-align: center;
           margin-top: -3%;
           color: rgb(236, 236, 160);
            }
.wasPrice{
    font-weight: bolder;
    text-decoration: line-through;
    margin-left: 20%;
    font-size: 18px;
    color: rgb(236, 236, 160);
}
.nowPrice{
    font-weight: bolder;
    font-size: 1.2em;
    padding-left: .5em;
    color: palevioletred;
}
.add{
    background-color: black;
    color: lightgreen;
    text-decoration: none;
    padding:10px 20px;
    margin: auto;
    display: inline-block;
    margin-left: 35%;
    margin-top: .5em;
}
.modalFront1{
    height: 45%;
    width: 75%;
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
  top: 36%;
  transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront2{
    height: 45%;
    width: 75%;
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
  top: 36%;
  transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront3{
    height: 47%;
    width: 75%;
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront4{
    height:50%;
    width: 75%;
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
  top: 69%;
  transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront5{
    height: 50%;
    width: 75%;
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
  top: 69%;
  transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront6{
    height: 49.5%;
    width: 75%;
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
  top: 69%;
  transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.open{
    background-color: black;
    padding: 10px 20px;
    color: aquamarine;
    text-decoration: none;
    margin-left: 28%;
}

.container1 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15%;
}
.container1 p:nth-child(3){
    color: aquamarine;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15%;
}
.container1 p:nth-child(4){
    color: palevioletred;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15%;
}
.container2 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15%;
}
.container2 p:nth-child(3){
    color: aquamarine;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15%;
}
.container2 p:nth-child(4){
    color: palevioletred;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15%;
}
.container3 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15%;
}
.container3 p:nth-child(3){
    color: aquamarine;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15%;
}
.container3 p:nth-child(4){
    color: palevioletred;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15%;
}
.container4 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15%;
}
.container4 p:nth-child(3){
    color: aquamarine;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15%;
}
.container4 p:nth-child(4){
    color: palevioletred;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15%;
}
.container5 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15%;
}
.container5 p:nth-child(3){
    color: aquamarine;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15%;
}
.container5 p:nth-child(4){
    color: palevioletred;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15%;
}
.container6 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15%;
}
.container6 p:nth-child(3){
    color: aquamarine;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15%;
}
.container6 p:nth-child(4){
    color: palevioletred;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15%;
}

.topPic img{
    width: 100%;
    height: 100%;
    position: relative;
}
.topPic p{
    position: absolute;
    top: 100px;
    background-color: rgba(20, 20, 20, 0.3);
    color: aquamarine;
    width: 80%;
    left: 10%;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
}
.topPic{
    width: 95%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.slide3 img{
    position: relative;
}
.slide3 p{
    position: absolute;
    top: 50px;
    background-color: rgba(20, 20, 20, 0.3);
    border: solid forestgreen;
    color:  palevioletred;
    width: 25%;
    left: 4%;
    padding: 2px;
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
}
.slide3{
    position: relative;
}
.footTitle{
    font-family: "Montserrat";
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50px;
        letter-spacing: 1px;
        width: auto;
        background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 30px;
        line-height: .75;
        margin: 10px 0;
}

.icon{
    margin-left: auto;
    margin-right: auto;
   height: 60px;
   width: 60px;
   padding: 10px 10px;
}
.toTop{
    display: none;
 }
 .linkTop{
    display: none;
}
.toTop:hover{
    display: none;
}
.sub{
    text-align: center;
    display: block;
    color: aquamarine;
    padding: 1px 10px;
    text-decoration: none;
    float: left;
    font-size: 16px;
    margin-top: 13px;
}
  .content {
    width: 360px;
    height: 40px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
    border-radius: 60px;
    overflow: hidden;
    margin-top: .4%;
  }
  
  .subscription {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .subscription .add-email{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
    color: white;
    background-color: black;
  }
  
  .subscription .submit-email {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2px);
    width: 100px;
    border: none;
    border-radius: 60px;
    outline: none;
    margin: 1px;
    padding: 0 20px;
    cursor: pointer;
    background: aquamarine;
    color: palevioletred;
    transition: width .35s ease-in-out,
      background .35s ease-in-out;
  }
  
  .subscription.done .submit-email {
    width: calc(100% - 2px);
    background: lightgoldenrodyellow;
  }
  
  .subscription .submit-email .before-submit,
  .subscription .submit-email .after-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
    transition: visibility .35s ease-in-out,
      opacity .35s ease-in-out;
  }
  
  .subscription.done .submit-email .before-submit,
  .subscription:not(.done) .submit-email .after-submit {
    visibility: hidden;
    opacity: 0;
  }
  
  .subscription .submit-email .after-submit {
    transition-delay: .35s;
  }
  
  .subscription:not(.done) .submit-email .before-submit,
  .subscription.done .submit-email .after-submit {
    visibility: visible;
    opacity: 1;
  }

}

/* --- smartphone view - small view --- */
@media only screen and (max-width: 450px){
        .topnav{
            height: 45px;
            padding-left: 2%;
        margin-left: auto;
        margin-right: auto;
        }
    .topnav a{
        font-size: 13px;
    }
.topnav.responsive {position: relative;}
.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
    .title{
        font-family: "Montserrat";
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 250px;
        letter-spacing: 1px;
        width: auto;
    }
    .h1{
        background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 55px;
        line-height: .75;
        margin: 10px 0;
        width: auto;
    }
    .collection{
        font-family: "Montserrat";
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50px;
        letter-spacing: 1px;
        width: auto;
        background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 40px;
        line-height: .75;
        margin: 10px 0;
    }
    .footTitle{
        font-family: "Montserrat";
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50px;
        letter-spacing: 1px;
        width: auto;
        background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 20px;
        line-height: .75;
        margin: 10px 0;
    }
    .word1{
        color: aquamarine;
        }
        .word2{
            color: aquamarine;
        }
        .word3{
         color: aquamarine; 
        }
        .word{
            color:  rgb(214, 214, 152);
        }
    .slideshow3{
       
        width: 95%;
        height: 55px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    .slideshow4{
        height: 300px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        
        position: relative;
    }
    .slide-wrapper3{
        width: 300%;
        height: 100%;
        animation: slideshow3 15s infinite alternate;
        
        
    }
    @keyframes slideshow3 {
        0% {margin-left: 0px;}
        10% {margin-left: 0px;}
        20% {margin-left: 0px;}
        30% {margin-left: 0px;}
        40% {margin-left: -100%;}
        50% {margin-left: -100%;}
        60% {margin-left: -100%;}
        70% {margin-left: -100%;}
        80% {margin-left: -200%;}
        90% {margin-left: -200%;}
        100% {margin-left: -200%;}
      }
      .slide2{
        height: 200px;
        width: 33.33%;
        float: left;
        text-align: center;
        font-size: 1em;
    }
    .slide-wrapper4{
        width: 300%;
        height: 100%;
        animation: slideshow4 10s infinite alternate;
        animation-delay: 1s; 
    }
    .slide3{
        height: 300px;
        width: 100%;
        position: relative;
    }
    .slide3 img{
        width: 50%;
        height: 100%;
        position: relative;
    }

.foot1 a{
    padding: 12px;
    height: 40px;
    width: 40px;
}
.foot1{
    height: 10%;
}
.im1{
   margin-bottom: 5%;
   margin-top: 5%;
   width: 95%;
   height: 350px;
   margin-left: auto;
    margin-right: auto;
    position: relative;
}

.im2{
    margin-bottom: 5%;
    margin-top: 5%;
    width: 95%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.im3{
    margin-bottom: 5%;
    margin-top: 5%;
    width: 95%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.im4{
    margin-bottom: 5%;
    margin-top: 5%;
    width: 95%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.im5{
    margin-bottom: 5%;
    margin-top: 5%;
    width: 95%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.im6{
    margin-bottom: 5%;
    margin-top: 5%;
    width: 95%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.container1, .container2, .container3, .container4, .container5, .container6, .container7 a{
    text-align: center;
    margin-top: 1%;
}
.imgCont{
    width: auto;
    height: auto;
    float: left;
    margin-top: 5%;
}
.imgCont img{
    width: 70%;
    height: 70%;
    padding: 1%;
    margin-left: 16%;
}
.imgCont2{
    width: auto;
    height: auto;
    float: left;
    margin-top: 5%;
}
.imgCont2 img{
    width: 70%;
    height: 70%;
    padding: 1%;
    margin-left: 16%;
  
}
.imgCont3{
    width: auto;
    height: auto;
    float: left;
    margin-top: 5%;
}
.imgCont3 img{
    width: 60%;
    height: 20%;
    padding: 1%;
    margin-left: 19%;
  
}
.imgCont4{
    width: auto;
    height: auto;
    float: left;
    margin-top: 5%;
}
.imgCont4 img{
    width: 60%;
    height: 60%;
    padding: 1%;
    margin-left: 20%;
  
}
.imgCont5{
    width: auto;
    height: auto;
    float: left;
    margin-top: 5%;
}
.imgCont5 img{
    width: 60%;
    height: 60%;
    padding: 1%;
    margin-left: 20%;
  
}
.imgCont6{
    width: auto;
    height: auto;
    float: left;
    margin-top: 5%;
}
.imgCont6 img{
    width: 60%;
    height: 60%;
    padding: 1%;
    margin-left: 20%;
  
}
.modalFront1{
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    width: 90%;
    height: 55%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront2{
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    width: 90%;
    height: 56%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront3{
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    width: 90%;
    height: 61%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront4{
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    width: 90%;
    height: 64%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront5{
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    width: 90%;
    height: 63%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.modalFront6{
    position: fixed;
    z-index: 1; 
    padding-top: 10px; 
    left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    width: 90%;
    height: 61%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.info{
    width: 70%;
    height: 50%;
    margin-left: 15%;
}
.info p:nth-child(1){
    font-size: 27px;
  text-align: center;
  color: lightgreen;
    }
    .info p:nth-child(2){
        font-size: 20px;
       text-align: center;
       margin-top: -10px;
       color: rgb(236, 236, 160);
        }
        .info p:nth-child(3){
            font-size: 15px;
           text-align: center;
           color: rgb(236, 236, 160);
            }
            .wasPrice{
                font-weight: bolder;
                text-decoration: line-through;
                margin-left: 10%;
                font-size: 18px;
                color: rgb(236, 236, 160);
            }
            .nowPrice{
                font-weight: bolder;
                font-size: 15px;
                padding-left: .5em;
                color: palevioletred;
            }
            .add{
                background-color: black;
                color: lightgreen;
                text-decoration: none;
                padding:10px 20px;
                margin: auto;
                display: inline-block;
                margin-left: 23%;
                margin-top: 1em;
            }            


.container1 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 25px;
    text-align: center;
}
.container1 p:nth-child(3){
    color:aquamarine;
    font-size: 20px;
    text-align: center;
}
.container1 p:nth-child(4){
    color: palevioletred;
    font-size: 20px;
    text-align: center;
}
.container2 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 25px;
    text-align: center;
}
.container2 p:nth-child(3){
    color: aquamarine;
    font-size: 20px;
    text-align: center;
}
.container2 p:nth-child(4){
    color: palevioletred;
    font-size: 20px;
    text-align: center;
}
.container3 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 25px;
    text-align: center;
}
.container3 p:nth-child(3){
    color: aquamarine;
    font-size: 20px;
    text-align: center;
}
.container3 p:nth-child(4){
    color: palevioletred;
    font-size: 20px;
    text-align: center;
}
.container4 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 25px;
    text-align: center;
}
.container4 p:nth-child(3){
    color: aquamarine;
    font-size: 20px;
    text-align: center;
}
.container4 p:nth-child(4){
    color: palevioletred;
    font-size: 20px;
    text-align: center;
}
.container5 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 25px;
    text-align: center;
}
.container5 p:nth-child(3){
    color: aquamarine;
    font-size: 20px;
    text-align: center;
}
.container5 p:nth-child(4){
    color: palevioletred;
    font-size: 20px;
    text-align: center;
}
.container6 p:nth-child(2){
    color: lightgoldenrodyellow;
    font-size: 25px;
    text-align: center;
}
.container6 p:nth-child(3){
    color: aquamarine;
    font-size: 20px;
    text-align: center;
}
.container6 p:nth-child(4){
    color: palevioletred;
    font-size: 20px;
    text-align: center;
}

.topPic img{
    width: 100%;
    height: 100%;
    position: relative;
}
.topPic p{
    position: absolute;
    top: 40px;
    background-color: rgba(20, 20, 20, 0.3);
    color: aquamarine;
    width: 80%;
    left: 10%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
}
.topPic{
    width: 95%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.slide3 img{
    position: relative;
}
.slide3 p{
    position: absolute;
    top: 50px;
    background-color: rgba(20, 20, 20, 0.3);
    border: solid forestgreen;
    color:  palevioletred;
    width: 25%;
    left: 4%;
    padding: 2px;
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
}
.slide3{
    position: relative;
}
.icon{
   height: 45px;
   width: 45px;
}
.open{
    background-color: black;
    padding: 10px 20px;
    color: aquamarine;
    text-decoration: none;
}
.toTop{
    display: none;
 }
 .linkTop{
    display: none;
}
.toTop:hover{
    display: none;
}
.content{
    display: none;
}
.sub{
    display: none;
}
}