<!-- name and price need it to say check out, what the product is -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cherelle Echevarria</title>
</head>
<body>
    <form action="{{url_for('.thankyou')}}" method="post" id="theForm2">
        <fieldset style="width: 60%; margin-left:auto; margin-right:auto;">
<legend>CHECKOUT</legend><h1><center>Items in your bag</center></h1>
<div class="imgCont2">
    <img src="lotion.png" alt="Lotion" title="Pink Lotion" style="height: 300px; margin-left:auto; margin-right:auto; display:block">
</div>
<p id="displayProducts" style="text-align: center;font-size: 1.5em"></p>
<script>
    let d = document.querySelector('#displayProducts');
    d.innerHTML = sessionStorage.getItem('productName') + '<br>' +  '<br>' +sessionStorage.getItem('productPrice'); 
</script>
<hr style="margin: 1em;">
<label for="un">Enter username:
    <input type="text" name="username" placeholder="Type user name..." id="un">
</label>
    <label for="email">Enter email address: 
        <input type="email" name="emailAddress" placeholder="Type email address...">
    </label>
<input type="submit" name="submit" value="SUBMIT ORDER" style="margin: 1em;">
        </fieldset>
    </form>
</body>
</html>