*{box-sizing: border-box;}

#cart-wrap {
  font-family: arial, sans-serif;
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 auto;
  max-width: 1000px;
  color: rgb(236, 236, 160);
  text-align: center;
}

.bttn{
    font-weight: bold;
    font-size: 1em;
    padding: 10px; 
    border: none;
    color: aquamarine;
    background: black;
    border: solid white;
    cursor: pointer;  
}

input.cart, button.cart {
  font-weight: bold;
  font-size: 1em;
  padding: 10px; 
  border: none;
  color: aquamarine;
  background: black;
  border: solid white;
  cursor: pointer;
  border-radius: 10%;
 
}
.bttn:hover{
    background-color: rgb(236, 236, 160);
    color: palevioletred;
    box-shadow: 0px 0px 5px 3px white;
    border: solid #FFF;

}
input.cart:hover, button.cart:hover{
    background-color: rgb(236, 236, 160);
    color: palevioletred;
    box-shadow: 0px 0px 5px 3px white;
    border: solid #FFF;

}

/* (B) PRODUCTS LIST */
#cart-products {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.p-item {
  padding: 14px;
  border: 1px solid rgb(107, 102, 102);
  text-align: center;
position: relative;

}


.p-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
}
.p-img { max-width: 180px; }
.p-desc {
  color: palevioletred;
  font-size: 0.9em;
  line-height: 1.5em;
}
.p-price {
  font-weight: bold;
  font-size: 1.1em;
  margin: 10px 0;
}



/* (D) CURRENT SHOPPING CART */
#cart-items {
  padding: 10px;
  background: black;
}
.c-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.c-name {
  width: 100%;
  font-size: 1.3em;
  line-height: 1.5em;
}
.c-del { width: 20%; }
.c-qty {
  width: 75%;
  font-size: 1em;
}
input.c-empty, input.c-total,input.c-sale,input.c-tax,input.c-shipping,input.c-subtotal{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;


}

/* (E) RESPONSIVE */
@media screen AND (max-width: 900px) and (min-width:450px) {
    .p-item{
        height: 220px;
        width: 200px;
    }
  #cart-wrap { 
      width: 650px;
      grid-template-columns: 45% 50%; 
 padding-top: 1em; padding-bottom: 2em;}
  #cart-products { grid-template-columns: auto; }
  input.p-add { width: 80%;
    position: absolute;
    bottom: 5px;
right: 18px; }
  
}
@media screen AND (max-width: 450px) {
    #cart-wrap { 
        display: block;
        width: 100%;
    padding-bottom: 2em; 
padding-top: 1em;

}
    #cart-products {width: 100%; 
      
    }
    .p-item{
        height: 220px;
        display: block;
      width: 160px;
      position: relative;
    }
    input.p-add{
       position: absolute;
        bottom: 5px;
right: 18px;

   }  
}